.mosaic {
    text-align: center;

    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
     -ms-transition: all 0.7s ease-out;
      -o-transition: all 0.7s ease-out;
         transition: all 0.7s ease-out;
}