
.thumbnail {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
    margin-left: 0;
    height: 300px;
    width: 300px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}