.background {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -100000;
    
    /* Center and scale the image nicely */
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
  }